@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-gutter: stable;
}

/* Apply Manrope for headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Manrope', sans-serif;
}

/* Hide number input spinners in Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number input spinners in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: none; /* For other browsers */
}

/* Ensure that input has no spinners in all browsers */
input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Hide spinner controls in all modern browsers */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
}

